@media (min-width:1200px){

}

@media (min-width:992px) and (max-width:1199px){
    .firstScreen__title {
        font-size: 40px;
        font-weight: 600;
    }
}

@media (min-width:768px) and (max-width:991px){

}

@media (min-width:620px) and (max-width:767px){

}
@media (max-width:619px){
    .header__menu{
        display: none;
    }
    .firstScreen__title{
        font-size: 32px;
        font-weight: 500;
    }
    .firstScreen__subtitle{
        display: none;
    }
}
@media (max-width:480px){
    .firstScreen>.container{
        row-gap: 80px;
}
    .firstScreen__info{
        margin: 0 45px 115px;
    }

}
@media (max-width:380px){
    .firstScreen__title{
        font-size: 28px;
        font-weight: 500;
    }
    .firstScreen__subtitle{
        display: none;
    }
    .firstScreen>.container{
         row-gap: 150px;
    }
    .firstScreen__info{
        margin: 0 45px 135px;
    }
    .firstScreen__info::before {
        width: 25px;
        top: 17px;
    }
    .firstScreen__btnBuy{
        margin: 74px 0px 0px 17px;
        padding: 18px 25px;
        font-size: 20px;
    }
}

